.main_layout{
    width: 1200px;
    height: 1952px;
    border: 2px solid red;
    padding: 2px;
    margin: 0 auto;
    background-color: black;
}
hr{
    width: 100%;
}
h3{
    /* background-color: red; */
    font-size: 25px;
}
p{
    /* background-color: yellow; */
    font-size: 20px;
}
.header{
    width: 1200;
    height: 290px;
    background-color: gray;
    float: left;
}
.image{
    width: 400px;
    height: 290px;
    background-color: #cbe1de;
    float: left;
}
.image img{
    width: 260px;
    height: 270px;
    margin-top: 10px;
    background-color: red;
    float: left;
    margin-left: 60px;
}
.head-des{
    width: 800px;
    height: 290px;
    background-color: #cbe1de;
    float: left;
}
.about{
    width: 90%;
    height: 260px;
    padding: 5px 5%;
    background-color: #cbe1de;
    float: left;
}
.profile{
    width: 90%;
    height: 260px;
    padding: 10px 5%;
    background-color: #cbe1de;
    float: left;
}
.family{
    width: 90%;
    height: 250px;
    padding: 10px 5%;
    background-color: #cbe1de;
    float: left;
}
.exp{
    width: 90%;
    height: 250px;
    padding: 10px 5%;
    background-color: #cbe1de;
    float: left;
}
.address{
    width: 90%;
    height: 550px;
    padding: 10px 5%;
    background-color: #cbe1de;
    float: left;
}
